body{
    color: white;
    background-color:coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;    
    margin-top: 5%;
}

form
input{
    width: 50%;
}